<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="GHPkgNew1" value="https://nuget.pkg.github.com/vaishnav-n/PartsDemo/index.json" />
    </packageSources>
     <packageSourceCredentials>
        <github>
            <add key="Username" value="vaishnav-n" />
            <add key="ClearTextPassword" value="137c1275bfe17ceada82657a14ea079aaecdc170" />
        </github>
    </packageSourceCredentials>
</configuration>
